.button {

  &_flat {
    height: 50px;
    color: #999;
    font: 18px/54px $lato-sb;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0 40px;
    background: $tr;
    border: 2px solid #999;
    @include transform(skewX(-10deg));
    @include transition;

    @include respond-to(mobile) {
      font: 16px/52px $lato-sb;
    }

    &._blue {
      color: #fff;
      background: $blue;
      border: 2px solid $blue;

      @include respond-to(mac) {

        &:hover {
          background: $aqua;
          border: 2px solid $aqua;
        }
      }
    }

    span {
      display: block;
      @include transform(skewX(10deg));

      @include respond-to(mac) {
        margin-top: -3px;
      }
    }
  }

  &_border {
    height: 50px;
    color: #999;
    font: 18px/54px $lato-sb;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0 40px;
    background: $tr;
    border: 2px solid #999;
    @include transform(skewX(-10deg));
    @include transition;

    @include respond-to(mobile) {
      font: 16px/52px $lato-sb;
    }

    span {
      display: block;
      @include transform(skewX(10deg));

      @include respond-to(mac) {
        margin-top: -3px;
      }
    }

    &._opc2 {
      opacity: .2;
    }

    &._white {
      color: $white;
      border-color: $white;
    }

    &._gray {
      color: $gray;
      border-color: $gray;
    }

    @include respond-to(mac) {

      &:hover {
        opacity: 1;

        &._h-blue {
          color: $aqua;
          border-color: $aqua;
        }

        &._h-bluee {
          color: $blue;
          border-color: $blue;
        }
      }
    }
  }
}

button {
  width: 100%;
  margin-top: 20px;
}

._disabled {
  opacity: .2;
  color: #999 !important;
  background: #ccc !important;
  border-color: #ccc !important;
  cursor: not-allowed;
}

._submit {
  color: $blue !important;
  background: $blue !important;
  border: 2px solid $blue !important;
  opacity: 1;

  span {
    position: relative;

    &:before {
      content: $icon-upload;
      color: #fff;
      font: 20px/20px $icon;
      position: absolute;
      top: 50%; left: 50%;
      margin: -10px 0 0 -10px;
      animation: animationRotation linear 1500ms infinite;
    }
  }
}