footer {
  color: #fff;
  background: $blue;
  padding: 45px 0 10px;

  @include respond-to(mobile) {
    padding-top: 35px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      width: 114px;
      height: 100px;
      display: block;
      color: $white;
      margin-bottom: 32px;
      opacity: .2;

      &:before {
        content: $icon-logo;
        font: 104px $icon;
      }
    }

    .adress {
      font-size: 18px;
      line-height: 28px;
      text-align: center;

      @include respond-to(mobile) {
        font-size: 14px;
        line-height: 24px;
      }

      a {
        color: $white;
        text-decoration: none;
      }
    }

    .link {
      color: $white;
      position: relative;
      padding: 5px 0 36px;
      margin-top: 32px;

      a {
        color: $white;
        font: 12px/16px $lato-r;
        text-decoration: none;

        &:last-child {
          display: block;
          margin-top: 2px;

          @include respond-to(mobile) {
            line-height: 16px !important;
          }
        }

        @include respond-to(mobile) {
          display: block;
          text-align: center;
          line-height: 26px;
        }
      }

      span {
        display: inline-block;
        vertical-align: top;
        margin: 4px 10px 0;

        @include respond-to(mobile) {
          display: none;
        }
      }

      &:before {
        content: '';
        width: 200px;
        height: 1px;
        display: block;
        margin: 0 auto;
        background: rgba(255,255,255, .2);

        @include respond-to(mobile) {
          margin-bottom: 12px;
        }
      }

      &:after {
        content: '';
        width: 200px;
        height: 1px;
        display: block;
        margin: 13px auto 0;
        background: rgba(255,255,255, .2);

        @include respond-to(mobile) {
          margin-top: 18px;
        }
      }
    }

    .copy {
      font-family: $lato-r;
      font-size: 14px;
    }

    .autor {
      font-family: $lato-r;
      font-size: 12px;
      padding-top: 10px;

      .icon {
        padding: 0 5px;

        &:before {
          content: $icon-heart;
          font: 8px/0 $icon;
        }
      }

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}
