.page-news {

  .main {

    @include respond-to(mobile) {
      padding: 43px 0 40px;
    }

    @include respond-to(mac) {
      padding: 54px 0 0px;
    }

    h2 {
      color: $black;
      font: 40px/40px $lato-sb;
      text-align: center;

      @include respond-to(mobile) {
        font: 30px/30px $lato-sb;
        margin-bottom: 22px;

        span {
          border-top: 2px solid $aqua;
          padding-top: 5px;
        }
      }

      @include respond-to(mac) {
        margin-bottom: 32px;
      }

      span {
        border-top: 5px solid $aqua;
        padding-top: 5px;
      }
    }

    &-item {
      display: block;
      text-decoration: none;

      @include respond-to(mobile) {
        margin-bottom: 39px;

        &:last-child {
          margin-bottom: 5px;
        }
      }

      @include respond-to(laptop) {
        width: 470px;
        margin-bottom: 30px;
      }

      @include respond-to(desktop) {
        width: 540px;
        margin: 0 10px 30px;
      }

      &-img {
        position: relative;
        @include transition;

        img {
          max-width: 100%;
          position: relative;
          display: block;
          margin: 0;
          padding: 0;
          z-index: 1;
        }

        &:before {
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          top: 0; left: 0;
          @include img-hover;
          z-index: 2;
          opacity: 0;
          @include transition;
        }
      }

      &-title {
        @include transition;

        @include respond-to(mobile) {
          font: 22px/26px $lato-r;
          padding: 19px 10px 0;
        }

        @include respond-to(mac) {
          font: 26px/36px $lato-r;
          padding: 19px 10px 0;
        }
      }

      &-date {

        @include respond-to(mobile) {
          color: $gray;
          font: 12px/22px $lato-i;
          padding: 0 10px;
        }

        @include respond-to(mac) {
          color: $gray;
          font: 14px/24px $lato-i;
          padding: 0 10px;
        }
      }

      &-text {

        @include respond-to(mobile) {
          font: 16px/22px $rsl-r;
          padding: 9px 10px 0;
        }

        @include respond-to(mac) {
          font: 16px/26px $rsl-r;
          padding: 9px 10px 0;
        }
      }

      &:hover {

        @include respond-to(mac) {
          .main-item-img {

            &:before {
              opacity: 1;
            }
          }

          .main-item-title {
            color: $aqua;
          }
        }
      }
    }

    .container {

      @include respond-to(mobile) {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
      }

      @include respond-to(laptop) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      @include respond-to(desktop) {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
      }

      @include respond-to(mac) {
        margin-bottom: 10px;
      }
    }
  }

  .page {

    @include respond-to(mobile) {
      padding: 43px 0 30px;
    }

    @include respond-to(mac) {
      padding: 54px 0 20px;
    }

    h2 {
      color: $black;
      font: 40px/40px $lato-sb;
      text-align: center;

      @include respond-to(mobile) {
        font: 30px/30px $lato-sb;
        margin-bottom: 10px;

        span {
          border-top: 2px solid $aqua;
          padding-top: 5px;
        }
      }

      @include respond-to(mac) {
        margin-bottom: 10px;
      }

      span {
        border-top: 5px solid $aqua;
        padding-top: 5px;
      }
    }

    &-date {
      color: #999;
      font: 20px/20px $lato-sb;
      text-align: center;

      @include respond-to(mobile) {
        font: 14px/14px $lato-sb;
      }
    }

    &-img {
      width: 100%;
      height: 350px;
      overflow: hidden;
      text-align: center;
      position: relative;
      margin: 40px 0;

      @include respond-to(mobile) {
        height: 200px;
        margin: 20px 0 10px;
      }

      .img {
        max-width: 100%;
        position: relative;
        z-index: 2;
      }

      .blur {
        width: 110%;
        height: 110%;
        position: absolute;
        top: -10px; left: -10px;
        z-index: 1;
        @include blur(2px);

        @include respond-to(mobile) {
          display: none;
        }
      }
    }

    &-content {

      h2, h3, h4 {
        color: $blue;
        font: 36px/46px $lato-r;
        text-align: left;
        margin-bottom: 10px;

        @include respond-to(mobile) {
          font: 28px/38px $rsl-r;
        }

        @include respond-to(mac) {
          padding: 0 60px;
        }
      }

      p {
        font: 20px/30px $rsl-r;
        margin-bottom: 30px;

        @include respond-to(mobile) {
          font: 16px/24px $rsl-r;

          &:last-child {
            margin-bottom: 0;
          }
        }

        @include respond-to(mac) {
          padding: 0 60px;
        }
      }

      blockquote {
        font-family: $lato-i;
        margin: 0 80px;
        position: relative;
        margin-bottom: 30px;

        @include respond-to(mobile) {
          margin: 0 30px 30px;
        }

        p {
          font-family: $lato-i;
          margin-bottom: 30px;
        }

        &:before {
          content: '“';
          color: $blue;
          font: 100px/100px $lato-i;
          display: block;
          position: absolute;
          top: -10px; left: 0px;

          @include respond-to(mobile) {
            font: 50px/50px $lato-i;
            top: 0; left: -30px;
          }
        }
      }

      ul, ol {

        li {
          font: 20px/30px $rsl-r;
          margin: 0 100px 30px;
          position: relative;

          @include respond-to(mobile) {
            margin: 0 20px 30px
          }

          @include respond-to(mobile) {
            font: 16px/24px $rsl-r;
          }
        }
      }

      ul {

        li {

          &:before {
            content: '//';
            color: $blue;
            font: 16px/16px $lato-b;
            width: 4px;
            height: 4px;
            display: block;
            position: absolute;
            top: 7px; left: -20px;

            @include respond-to(mobile) {
              font: 16px/16px $lato-b;
              top: 5px;
            }
          }
        }
      }

      ol {
        counter-reset: ol-counter;

        li {

          &:before {
            content: counter(ol-counter)'.';
            counter-increment: ol-counter;
            color: $blue;
            text-align: right;
            font: 18px/18px $lato-b;
            width: 4px;
            height: 4px;
            display: block;
            position: absolute;
            top: 7px; left: -20px;

            @include respond-to(mobile) {
              font: 14px/14px $lato-b;
              top: 6px;
            }
          }
        }
      }

      img {
        max-width: 100%;
        display: block;
        margin-bottom: 25px;
      }

      .wp {

        &-block {

          &-image {
            margin-bottom: 30px;

            img {
              max-width: 100%;
              display: block;
              margin: 0 auto 15px;
            }

            figcaption {
              color: #999;
              font: 16px/26px $rsl-r;
            }
          }
        }
      }
    }
  }

  .paginator {
    margin-bottom: 40px;

    @include respond-to(mobile) {
      margin-bottom: 20px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin: 0 10px;

        a, span {
          width: 50px;
          height: 50px;
          color: #999;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          font: 30px/20px $lato-t;
          text-decoration: none;
          border-radius: 100%;
          border: 1px solid $tr;
        }

        a {

          @include respond-to(mac) {

            &:hover {
              border-color: #ccc;
            }
          }
        }

        span {
          cursor: default;
          color: $blue;
          @include rgba-bg(background, $blue, .1);
        }

        &.prev {

          a {
            border: 0;

            &:before {
              content: $icon-arrow;
              color: #999;
              font: 22px/54px $icon;
              position: absolute;
              top: 0; left: 27px;
              @include transform(rotate(180deg));
              @include transition;
            }

            @include respond-to(mac) {

              &:hover {

                &:before {
                  color: $blue;
                }
              }
            }
          }
        }

        &.next {

          a {
            border: 0;

            &:before {
              content: $icon-arrow;
              color: #999;
              font: 22px/54px $icon;
              position: absolute;
              top: 0; left: 27px;
              @include transition;
            }

            @include respond-to(mac) {

              &:hover {

                &:before {
                  color: $blue;
                }
              }
            }
          }
        }
      }
    }
  }
}
