// Site
$blue:       #0a6da6;
$aqua:       #00a2ff;
$red:        #a60a0a;
$white:      #ffffff;
$gray:       #bebebe;
$gray-light: #f8f8f8;
$gray-dark:  #888888;
$black:      #333333;
$tr: 				 transparent;


// Social
$fb: #3c5a98;
$vk: #48729e;
$tw: #00aced;
$in: #9d7144;
$yt: #ab231c;
